/* color palette from <https://github.com/vuejs/theme> */

/* CSS imports */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global styling for Intl Tel Input */
.iti {
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}

.input-error {
  border: 1px solid #CD2C2C;
  outline: #CD2C2C solid 1px;
}
#intl-tel-input {
  width: 100%;
  padding: 15px 0;
  border-radius: 8px;
  font-weight: 700;
}

#intl-tel-input::placeholder {
  font-weight: 700;
}
